body{
    background-color: #f36520;
}
header{
    margin: 2vh auto;
}
header, nav, main,.row div{
    border: 5px solid rgb(240, 141, 12);
    background-color: #faf7f6;
    
}
nav,main{
    min-height: 82vh;
}